

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: scroll;
  padding-top: 2rem;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 2rem;
}


@font-face {
  font-family: 'Aesthetic';
  src: url('/fonts/Aesthetic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  font-family: 'Open Sans', sans-serif;
  letter-spacing:0.05em;
}

.title {
  font-family: 'Aesthetic', sans-serif;
  font-size: 69px;
  text-shadow: -4px 4px #ef3550,
  -8px 8px #f48fb1,
  -12px 12px #7e57c2,
  -16px 16px #2196f3,
  -20px 20px #26c6da,
  -24px 24px #43a047,
  -28px 28px #eeff41,
  -32px 32px #f9a825,
  -36px 36px #ff5722;
}

.myButton {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	padding: 4px 10px;
	font-size: 18px;
	border-radius: 10px;
	background-color: #6dc246;	
	box-shadow: 0 5px 5px #bbd8bb, 0 9px 0 #414444, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	display: inline-block;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	margin-bottom: 40px;
  margin-left: 20px;
}

.myButton:hover {
  box-shadow: 0 5px 5px #ce9280, 0 9px 0 #b12e25, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.myButton:active {
	top: 7px;
	box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);	
}

.footer {
  border: 2px solid black;
  padding: 10px;
}

.link {
  text-decoration: underline;
}